#JavaScript Project
**/node_modules

#IDE(VSCode, Eclipse, Intellij)
**/.vscode
**/.sln
**/.sw?

**/.classpath
**/.project
**/.settings
**/target
**/build

**/.idea
**/.iml

**/build

#for mac
**/DS_Store